rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write on posts to any authenticated user
    match /posts/{postId} {
      allow read, write: if request.auth != null;
    }
  }
}